<!-- Footer -->
			<div id="footer">

				<!-- Copyright -->
					<ul class="copyright">
						<li>&copy; P. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li><li>Deverlop: <a href="mailto:pattiyaa@gmail.com">Pattiya Akaratawee</a></li>
					</ul>

			</div>
