<!-- Header -->
			<div id="header">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
							<%= render template: "/share/signin"%>
						</div>

					<%= render :template=> 'share/menu'%>

				</div>

				<div class="bottom">

					<!-- Social Icons -->
						<ul class="icons">
							<% if user_signed_in? && !current_user.blank? %>
							<li>
							<%= link_to destroy_user_session_path, :method => :destroy do %>
								<i class="fa fa-sign-out" aria-hidden="true"></i>
							<%end%>
							</li>
							<% end %>
						</ul>

				</div>

			</div>