<!-- Intro -->
<section id="top" class="one dark cover">
	<div class="container">

		<header>
			<h2 class="alt">Hi! I'm <strong>Project Logger</strong></h2>
				<p>Sharing knowledge and work activities<br />
					lead to project succeed</p>
		</header>

		<footer>
			<a href="#workflow" class="button scrolly">More infomation</a>
		</footer>

	</div>
</section>