<section id="workflow" class="two">
	<div class="container">
		<header>
		<h2>Workflow</h2>
		</header>

		<p>Follow your project activities with these five easy steps</p>
			<div class="card-deck-wrapper ">
				<div class="card-deck">
					<div class="card pt-2">
						<span class="card-img-top icon fa-th fa-4x"></span>
						<div class="card-block">
							<h4 class="card-title">Step 1</h4>
							<p class="card-text"><small class="text-muted">Create a project</small></p>
						</div>
					</div>
					<div class="card pt-2">
						<span class="card-img-top  icon fa-user-secret fa-4x"></span>
						<div class="card-block">
							<h4 class="card-title">Step 2</h4>
							<p class="card-text"><small class="text-muted">Define your customer and contact person for this project</small></p>
						</div>
					</div>
					<div class="card pt-2">
						<span class="card-img-top icon fa-users fa-4x"></span>
						<div class="card-block">
							<h4 class="card-title">Step 3</h4>
							<p class="card-text"><small class="text-muted">Add your colleague who will participate in this project</small></p>
						</div>
					</div>
				</div>
				<div class="card-deck">
					<div class="card pt-2">
						<span class="card-img-top icon fa-comments fa-4x"></span>
						<div class="card-block">
							<h4 class="card-title">Step 4</h4>
							<p class="card-text"><small class="text-muted">Jot down project's minute meeting</small></p>
						</div>
					</div>
					<div class="card pt-2">
						<span class="card-img-top  icon fa-pencil-square-o fa-4x"></span>
						<div class="card-block">
							<h4 class="card-title">Step 5</h4>
							<p class="card-text"><small class="text-muted">Allow your colleague log their patipated activities to this project</small></p>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>