<section id="projects" class="three">
  <div class="container">
    <header>
      <h2>Projects</h2>
    </header>
    <h4>Managed projects </h4>
    <div class="row pull-right" ><%= link_to 'New Project', new_project_path, :class => 'btn btn-secondary' %></div>
    <%= render 'projects/list', :projects => @projects  %>
    
  </div>
</section>
<section id="projects" class="two">
  <div class="container">
    <h4>Paticipated projects </h4>
    <%= render 'projects/list', :projects => @paticipatedprojects  %>
  </div>
</section>