<section id="colleague" class="three">
  <div class="container">
    <header>
      <h2>Colleague</h2>
    </header>
    <%= render 'colleagues/list', :colleagues => @colleagues  %>
    
  </div>
</section>