div.image-preview img.image-preview{
    height: 275px;
    padding: 8px;
    background-color: #ffffff;
}
.form-inputs{
	font-size: 0.8em;
}
/*---------------Form input----------*/
form  .fieldright{
width: 72%;
float:left;
}
